@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
}

:root {

    --gradiente-fundo: radial-gradient(circle, #ffffff, #ffffff);

    --item1-transform: translate(-100%, -5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translate(0, 0);
    --item2-filter: blur(0);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%, 10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%, 20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 9;
    --item4-opacity: 1;

    --item5-transform: translate(120%, 30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}

a {
    text-decoration: none;
    color: #555;
}


header {
    width: 71.25rem;
    max-width: 90%;
    margin: auto;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

header nav a {
    margin-left: 1.875rem;
}

header nav a:hover {
    color: #161616;
    cursor: pointer;
}

.carrossel {
    margin: -3.125rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.carrossel .lista {
    position: absolute;
    top: 0;
    left: 50%;
    width: 71.25rem;
    max-width: 90%;
    transform: translateX(-50%);
    height: 80%;
}

.carrossel .lista .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    font-size: 15px;
}

.carrossel .lista .item img {
    width: 55%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carrossel .lista .item .detalhes {
    opacity: 0;
    pointer-events: none;
}

.carrossel .lista .item .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25rem;
    opacity: 0;
    pointer-events: none;
}

.carrossel .lista .item:nth-child(2) .intro {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}

.carrossel .lista .item:nth-child(n + 6) {
    opacity: 0;
    pointer-events: none;
}

.carrossel .lista .item:nth-child(2) {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-zIndex);
    opacity: var(--item2-opacity);
}

.carrossel .lista .item:nth-child(1) {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}

.carrossel .lista .item:nth-child(3) {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
    opacity: var(--item3-opacity);
}

.carrossel .lista .item:nth-child(4) {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
    opacity: var(--item4-opacity);
}

.carrossel .lista .item:nth-child(5) {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-zIndex);
    opacity: var(--item5-opacity);
    pointer-events: none;
}


.setas {
    position: absolute;
    bottom: 0.625rem;
    width: 71.25rem;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.setas #proximo,
.setas #anterior {
    width: 2.5rem;
    height: 2.5rem;
    border: #e4e4e4 0.0625rem solid;
    border-radius: 50%;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    background-color: #e7e7e7;
}

.setas #voltar {
    font-family: poppins;
    font-size: large;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #555;
    letter-spacing: 3px;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
}

.setas #voltar:hover {
    cursor: pointer;
    color: #505050;
    transform: scale(1.20);
    transition: transform 0.2s cubic-bezier(.4, 2, .6, 1), color 0.2s;
}

.setas #proximo:hover,
.setas #anterior:hover {
    background-color: #cfcfcf;
    cursor: pointer;
    color: #161616;
    transform: scale(1.20);
    transition: transform 0.2s cubic-bezier(.4, 2, .6, 1), color 0.2s;
}

.carrossel .lista .item .intro .titulo {
    font-size: 2em;
    line-height: 0.8em;
}

.carrossel .lista .item .intro .topico {
    font-size: 4em;
    font-weight: 500;
}

.carrossel .lista .item .intro .descricao {
    font-size: small;
}

.carrossel .lista .item .intro .verMais {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    font-family: poppins;
    font-weight: bold;
    margin-top: 1.2em;
    padding: 0.313rem 0;
}

.verMais:hover {
    cursor: pointer;
    color: #505050;


}

.carrossel .lista .item:nth-child(2) .intro .titulo,
.carrossel .lista .item:nth-child(2) .intro .topico,
.carrossel .lista .item:nth-child(2) .intro .descricao,
.carrossel .lista .item:nth-child(2) .intro .verMais {
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
    from {
        transform: translateY(50px);
        filter: blur(30px);
    }

    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.carrossel .lista .item:nth-child(2) .intro .topico {
    animation-delay: 0.9s
}

.carrossel .lista .item:nth-child(2) .intro .descricao {
    animation-delay: 1.1s;
}

.carrossel .lista .item:nth-child(2) .intro .verMais {
    animation-delay: 1.3s;
}

.carrossel.proximo .lista .item:nth-child(1) {
    animation: positionItem2 0.5s ease-in-out 1 forwards;
}

@keyframes positionItem2 {
    from {
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        z-index: var(--item2-zIndex);
        opacity: var(--item2-opacity);

    }
}

.carrossel.proximo .lista .item:nth-child(2) {
    animation: positionItem3 0.7s ease-in-out 1 forwards;
}

@keyframes positionItem3 {
    from {
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        z-index: var(--item3-zIndex);
        opacity: var(--item3-opacity);
    }
}

.carrossel.proximo .lista .item:nth-child(3) {
    animation: positionItem4 0.9s ease-in-out 1 forwards;
}

@keyframes positionItem4 {
    from {
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        z-index: var(--item4-zIndex);
        opacity: var(--item4-opacity);
    }
}

.carrossel.proximo .lista .item:nth-child(4) {
    animation: positionItem5 1.1s ease-in-out 1 forwards;
}

@keyframes positionItem5 {
    from {
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        z-index: var(--item5-zIndex);
        opacity: var(--item5-opacity);
    }
}

.carrossel.anterior .lista .item:nth-child(2) {
    animation: positionItem1 0.5s ease-in-out 1 forwards;
}

@keyframes positionItem1 {
    from {
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        z-index: var(--item1-zIndex);
        opacity: var(--item1-opacity);
    }
}

.carrossel.anterior .lista .item:nth-child(3) {
    animation: positionItem2 0.7s ease-in-out 1 forwards;
}

.carrossel.anterior .lista .item:nth-child(4) {
    animation: positionItem3 0.9s ease-in-out 1 forwards;
}

.carrossel.anterior .lista .item:nth-child(5) {
    animation: positionItem4 1.1s ease-in-out 1 forwards;
}

.carrosel .lista .item {
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}

.carrossel.mostrarMais .lista .item:nth-child(3),
.carrossel.mostrarMais .lista .item:nth-child(4) {
    left: 100%;
    opacity: 0;
    pointer-events: none;
}

.carrossel.mostrarMais .lista .item:nth-child(2) {
    width: 100%;
}

.carrossel.mostrarMais .lista .item:nth-child(2) .intro {
    opacity: 0;
    pointer-events: none;
}

.carrossel .lista .item:nth-child(2) img {
    transition: right 0.5s;
}

.carrossel.mostrarMais .lista .item:nth-child(2) img {
    right: 50%;
}

.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes {
    opacity: 1;
    pointer-events: auto;
    width: 50%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.carrossel.mostrarMais .lista .item .detalhes .titulo {
    font-size: 4em;
}

.carrossel.mostrarMais .lista .item .detalhes .especificacoes {
    display: flex;
    gap: 0.625rem;
    width: 100%;
    border-top: 1px solid #5555;
    margin-top: 1.25rem;
}

.carrossel.mostrarMais .lista .item .detalhes .especificacoes div {
    width: 5.625rem;
    text-align: center;
    flex-shrink: 0;
}

.carrossel.mostrarMais .lista .item .detalhes .especificacoes div p:nth-child(1) {
    font-weight: bold;
}

.carrossel.mostrarMais .lista .item .detalhes .comprar button {
    font-family: poppins;
    background-color: transparent;
    border: 1px solid #b8b8b8;
    margin-left: 5px;
    font-weight: 500;
}

.carrossel.mostrarMais .lista .item .detalhes .comprar button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    transform: scale(1.05);
    transition: background-color 0.2s, transform 0.2s cubic-bezier(.4, 2, .6, 1);
}

.carrossel.mostrarMais .lista .item .detalhes .comprar button:nth-child(2) {
    background-color: rgb(0, 0, 0);
    color: #eee;
}

.carrossel.mostrarMais .lista .item .detalhes .comprar button:nth-child(2):hover {
    background-color: #000000;
    color: #fff;

}

.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .titulo,
.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .descricao,
.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .especificacoes,
.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .comprar {
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}

.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .descricao {
    animation-delay: 1.2s;
}

.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .especificacoes {
    animation-delay: 1.4s;
}

.carrossel.mostrarMais .lista .item:nth-child(2) .detalhes .comprar {
    animation-delay: 1.4s;
}

.carrossel.mostrarMais #proximo,
.carrossel.mostrarMais #anterior {
    opacity: 0;
    pointer-events: none;
}

.carrossel.mostrarMais #voltar {
    opacity: 1;
    pointer-events: auto;
}


.carrossel::before {
    width: 31.25rem;
    height: 18.75rem;
    content: '';
    background-image: var(--gradiente-fundo);
    position: absolute;
    z-index: -1;
    border-radius: 10% 30% 80% 10%;
    filter: blur(9.375rem);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}

.carrossel.mostrarMais::before {
    transform: translate(-100%, -50%) rotate(70deg);
}

@media screen and (max-width:991px) {
    .carrossel .list .item {
        width: 90%;
    }

    .carrossel .list .detalhes .especificacoes {
        overflow: auto;
    }
}


.carrossel.mostrarMais .lista .item:nth-child(2) img:hover {
    transform: translateY(-50%) scale(1.10) rotate(5deg);
    z-index: 10;
    transition: transform 0.2s cubic-bezier(.4, 2, .6, 1), box-shadow 0.2s;
}

@media (max-width: 768px) {
    .setas {
        flex-direction: row;
        /* ou column se preferir empilhados */
        justify-content: center;
        /* centraliza */
        gap: 20%;
        /* diminui o espaço entre eles */
        top: 60%;
    }

    .setas button {
        margin: 0;
        /* remove margens extras */
    }
    header{
        margin-bottom: 8%;
    }

    header h1 {
        font-size: 1.5rem;
        /* reduz o tamanho da fonte do título */
    }

    header nav {
        margin-left: 0rem;
        width: auto;
        font-size: 0.875rem;
        display: flex;
        flex-direction: row;
        gap: 0rem;
        align-items: center;
        /* mantém os links na mesma linha e centralizados verticalmente */
    }

    .carrossel .lista .item img {
        width: 47%;
        /* ajusta a largura da imagem */
        z-index: 0;
        bottom: 100%;
        position: relative;
        left: 90%;

    }

    .carrossel .lista .item .intro {
        width: 100%;
        /* ajusta a largura do conteúdo */
        height: auto;
        /* ajusta a altura do conteúdo */
        text-align: center;
        /* centraliza o texto */
        font-size: small;
    }

    .carrossel .lista .item .intro .titulo {

        font-size: 1rem;
    }
    .carrossel .lista .item .intro .topico {
        width: 80%;
        font-size: 1.30rem;
        font-weight: bold;
        margin-left: 10%;
        
    }
     .carrossel .lista .item .intro .descricao{
        font-size: 0.8rem;
        margin-top: 0.5rem;
        width: 80%;
        text-align: center;
        margin-left: 14%;
     } 
    .carrossel.mostrarMais .lista .item .detalhes .especificacoes  {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    border-top: 1px solid #5555;
    margin-top: 1.25rem;
    
    }
.carrossel.mostrarMais .lista .item .detalhes .especificacoes div {
    width: 100%;
}
.carrossel.mostrarMais .lista .item .detalhes .especificacoes div p {
    gap: 0.15rem;
}
.carrossel.mostrarMais .lista .item .detalhes .comprar button {
    font-family: poppins;
    background-color: transparent;
    border: 1px solid #b8b8b8;
    margin-left: 5px;
    font-weight: 500;
}

    .carrossel.mostrarMais .lista .item .detalhes .descricao{
        font-size: 0.8rem;
        position: static;
        width: 90%;
        margin: 1rem auto 0.5rem auto;
        text-align: center;
        font-weight: 500;
        z-index: 2;
        display: block;
    }
    .carrossel.mostrarMais .lista .item .detalhes .titulo{
        font-size: 1.1rem;
        font-weight: 600;
        width: 90%;
        margin: 0.5rem auto 0 auto;
        text-align: center;
        display: block;
    }
    .carrossel.mostrarMais .lista .item:nth-child(2) .detalhes {
        width: 100%;
        max-width: 98vw;
        left: 50%;
        top: 58%;
        transform: translate(-50%, -50%);
        text-align: center;
        box-sizing: border-box;
        position: absolute;
    }
    #voltar {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.675rem;
        z-index: 100;
    }
    .carrossel.mostrarMais .lista .item img{
        opacity: 0;
    }
}